header{
    background-color: antiquewhite;
}
nav{
    background-color: rgb(189, 36, 36)05, 91, 91);

}
section{
    float: left;
    width: 70%;
background-color: rgb(161, 190, 132);
}

footer{
    
    background-color: rgb(73, 131, 156);
    color: rgb(14, 11, 11);
}
.contenedor::after{
    content:'';
    display: block;
    clear: both;
}

aside{
    float: left;
    width: 30%;
    
background-color: rgb(18, 122, 122);
}


head{
    background-color: darkslateblue;
}


h6{
    background-color: rgb(240, 247, 247);
  
    
}
