* {
padding:0;
margin:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
text-decoration: none;}

h1{
color: blue;
text-align: center;}

h2{
color: black;
text-align: center;}


.tabl{
font-size: 50px;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
color: black;
font-weight: bold;
text-align: center;}

table{
border-collapse: collapse;
border-spacing:0;
border-color:#999;
margin-bottom: 50px;
width:99%; 
height:auto;
text-align: justify;
max-width:1366px; 
max-height: 768px;}

td{
font-weight: bold;
font-family:Arial,sans-serif;
font-size:16px;
padding:5px 5px;
border-style:solid;
border-color:#999;
color:#444;
text-align:center; 
width: 20%; }

.r{
text-align: justify;}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl{
background-color: #FBFFFF;}
